body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
img {
    display: block;
    height:250px;
    width: 450px;
}
.header {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
  
    margin: auto;
}
.header-student-name {
    text-align: center;
    font-size: 30px;
  
    margin-bottom: 4%;
}
.header-items {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 1% 1% 1%;
    background-color: white;

}
.student-image {
    height: 100%;
    width: 50%;
    margin: auto;
    margin-top: 2%;
    align-items: center;
}
.student-description {
    margin: auto;
    text-align: center;
    margin: 5% 10% 2% 10%;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio-titles {
    font-weight: bold;
    text-align: center;
}
.portfolio-texts {
    text-align: center;
}
.footer {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}
.footer-contact-button {
    align-self: center;   
    font-weight: bolder;
    text-transform: uppercase;
}
.portfolio-images {

    width: 90%;

}
.footer-info-text {
    text-align: center;
}
.contact-details {
    align-self: center;
}
.phone-details {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0 0 2%;
}
.phone-block {
    order: 2;
    flex-shrink: 100;
    margin: 0 5%;
}
.phone-number {
    order: 2;
    font-weight: bold;
}
.email-details {
    display: flex;
    flex-direction: row;
    align-self: center;
}
.email-block {
    order: 3;
    margin: 0 5%;
}
.email {
    order: 3;
    font-weight: bold;
}
.footer-details {
    display: flex;
    flex-direction: row;
    align-self: center;
    border: 2px solid red;
}
.cards-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.cards {
    margin: auto;
}
.footer-tablet {
    display:none;
}
.footer-pc {
    display: none;
}

/* tableta */

@media (min-width: 676px) {
  
    /* header */

    .nav-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 0 5% 0;
    }

    .header-items{
       text-align: center;
       background-color: lightgray;
       height: 10%;
    }

    .profile {
        display: flex;
        flex-direction: row;
        margin: 0 0 5% 0;
    }
    .student-image {
        order: 2;
        display: inline-block;
        height: 20%;
        width: 80%;
        margin: 1% 1% 1% 1%;
    }
    .student-description {
        font-size: larger;
        margin: 1% 1% 1% 1%;

    }

    /* main */

    .portfolio {
        display: flex;
        flex-direction: collum;
        max-width: fit-content;
    }
    .cards-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cards{
        display: flex;
        align-items: center;
        flex-direction: column;

        justify-content: center;

        text-align: center;

        width: 40%;
    }

    .footer-details {
        display: flex;
        flex-direction: row;
    }
    .footer-nav {
        display: flex;
        flex-direction: row;
    }
    .footer-student-name {
        font-size: larger;
        font-weight: bold;
        width: 10%;
    }
    .footer-items {
        font-size: larger;
        font-weight: bold;
        margin-left: 1%;
    }
    .footer-tablet {
        display: flex;
        flex-direction: column;
    }
    .footer-mobile {
        display: none;
    }
    .footer-pc {
        display: none;
    }
}

/* calculator */

@media (min-width: 1400px) {
    
    .header {
        height: 30%;
        max-height: 30%;
    }
    .main-nav {
        height: 30%;
        width: 90%;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .header-student-name {
        align-self: flex-start;
    }
    .nav-container {
        align-self: flex-end;
    }
    .header-items {
        font-size: larger;
        margin-right: 2%;
    }
    .profile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3%;
        max-height: 30%;
    }
    .student-image {
        max-height: 30%;
        max-width: 20%;
    }
    .cards {
        width: 30%;
    }

}